.header__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.header__menu-title,
.header__categories-title,
.header__allCategories-title {
    text-transform: uppercase;
    color: #A2A2A8;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.header__menu-title:hover,
.header__categories-title:hover,
.header__allCategories-title:hover {
    color: #5b5b60;
}

.header__menu,
.header__categories,
.header__allCategories {
    position: relative;    
}
  
  .menu {
   opacity: 0;
   height: 0;
   transform: translateX(-60px);  
   transition: all 1s ease;
  }
  
  .menu--open {
    height: 75px;
    transform: scale(1);
    transform: translateX(0);
    opacity: 1;
  }
  .menu__item {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    color: #7b7b7f;
  }
  .menu__item:not(:last-child),
  .categories__item:not(:last-child) {
    margin-bottom: 0.5rem;

  }
  .menu__item:hover {
    transition: all 0.450s ease;
    color: rgb(254, 54, 54);
  }
  .categories {
    opacity: 0;
    height: 0;
    transform: translateX(-100px);
    transition: all 1s ease;
  }
  .categories__item {
    color: #7b7b7f;
    transition: all 0.450s ease;
  }
  .categories__item:hover,
  .allCategories__item:hover {
    color: rgb(254, 54, 54);
  }

  .categories--open {
    opacity: 1;
    height: 140px;
    transform: translateX(0);
  }
  .allCategories {
    opacity: 0.1;    
    transform: translateX(-100px);
    transition: all 1s ease;
  }
  .allCategories__item {
    color: #7b7b7f;
  }

  .allCategories--open {
    opacity: 1;
    transform: translateX(0);
  } 
  .menu__link-svg {
    margin-right: 0.3rem;
    transition: fill 0.3s ease;
    fill: #A2A2A8 !important;   
  }
  
  .active .menu__link-svg {
    fill: rgb(243, 56, 56);
  } 
  